.root {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px 25px;
  background-color: #ebebeb;
  box-sizing: border-box;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
