.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  @media (max-width: 708px) {
    & {
      gap: 10px;
    }
  }
  @media (max-width: 500px) {
    & {
      flex-direction: column;
      gap: 10px;
    }
  }
  .input {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    .iconClose {
      margin-right: 5px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    @media (max-width: 708px) {
      & {
        width: 100%;
      }
      & input {
        font-size: 16px;
      }
    }
  }
  input {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
  }
  .inputCheckbox {
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      margin-right: 6px;
    }
    input {
      cursor: pointer;
      height: 17px;
      width: 17px;
    }
  }
  .reset {
    background-color: #f90001;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 22px;
    border: 1px solid #db0202;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #db0b0b;
      box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    }
  }
}
