.root {
  width: 100%;
  margin-bottom: 40px;
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 708px) {
      & {
        flex-direction: column;
        gap: 10px;
      }
    }

    .input {
      position: relative;
      display: flex;
      align-items: center;
      background-color: white;
      width: 400px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
      @media (max-width: 708px) {
        & {
          width: 100%;
        }
        & input {
          font-size: 16px;
        }
      }
      .iconClose {
        margin-right: 5px;
        cursor: pointer;
        width: 25px;
        height: 25px;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    input {
      box-sizing: border-box;
      width: 100%;
      font-size: 20px;
      padding: 10px 10px;
      border-radius: 8px;
      border: none;
    }
    .inputError {
      border: 1px solid #db0202;
      background-color: #dfb8b8;
      input {
        background-color: #dfb8b8;
      }
    }
  }
  .button {
    box-sizing: border-box;
    background-color: #f90001;
    border: 1px solid #db0202;
    padding: 14px 22px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #db0b0b;
      box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    }
  }
  p {
    opacity: 0;
  }
  .inputError {
    opacity: 1;
    color: #db0202;
  }
}
