.todo {
  background-color: #fbfef9;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 15px 0;
  animation: layot 0.4s;

  span {
    color: #112d49;
  }
  .dateTodo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 515px) {
      flex-direction: column;
    }
  }
}

.root {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;

  .text {
    display: inline-block;
    overflow: auto;
    width: 80%;
    text-align: start;
    white-space: nowrap;
  }
  .todoIcon {
    font-size: 1.8rem;
    color: teal;
  }
  .checkIcon,
  .deleteIcon {
    cursor: pointer;
    color: lightgrey;
    padding: 0 7px;
    font-size: 2.5rem;
    transition: transform 0.3s;
  }

  .checkIcon:hover {
    color: green;
  }
  .deleteIcon:hover {
    color: red;
  }
  .checkIcon:hover,
  .deleteIcon:hover {
    transform: scale(1.1);
  }
  &.completedTodo {
    background-color: unset;
    border-color: gray;
    color: gray;
    text-decoration: line-through;
    border-bottom: 1px solid #ebebeb;
  }
  &.completedTodo .todoIcon,
  &.completedTodo .checkIcon,
  &.completedTodo .deleteIcon {
    color: grey;
  }
  .Icons {
    display: flex;
    align-items: center;
  }
}

@keyframes layot {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
